@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 15s linear infinite;
  }

  @keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
}

.gradient-text {
  background-size: 200% 200%;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
}
@import "~typeface-roboto-mono/index.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-text {
  background: linear-gradient(
    to right,
    #5F9DFF,
    #92BCFF,
    #5F9DFF,
    #c8c7fb,
    #5F9DFF,
    #92BCFF,
    #5F9DFF
  );
  background-size: 300% 300%;
  background-clip: text;
}
